<div class="height-100" fxLayout="column" fxLayoutAlign="center center">
  <h2 class="label-text">I want to</h2>

  <form class="example-form input-container">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
          <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
          <span>{{ state.name }}</span> |
          <small>Population: {{state.population}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>


  <button class="forget-button" mat-button (click)="OpenMenu()">
    <span>FORGET ME</span>
  </button>
</div>